/* map page */
#map {
    margin: auto;
    width: 380px;
    height: 550px;
  }

#map-bg, #map-navbar{
    /* lavender */
    background: #C5D1EB;
}

.nav-item-size {
    font-size: 25px !important;
}

.center {
    text-align: center;
}

.fw,
fh {
    display: table;
}

.peach {
    background: #FFE5B4;
}

.mint-green {
    color: #3EB489;
}

#hidden-note {
    text-align: center;

    display: none;
    font-size: 20px;

    /* pink */
    color: #FC0FC0;
}

.poppins {
    font-family: poppins;
}

.fw {
    width: 100%;
    padding: 40px 0;
}

.fh {
    height: 100%;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
}

.k{
    background-image:url("img/a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.circle{
    height: 25%;
    width: 10%;
    background-color: rgba(255,255,255,.8);
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50%;
    display: block;
    margin-left:62%;
    margin-top:9%;
  }

/* chat page */
body {
    /* background-color: #f3f2f3; */
    margin: 0;
    padding: 0;
    background: #8EB8E5;
}

header {
    text-align: center;
}

#messages{
    padding-bottom: 30%;
}

/* Give class to li */
/* li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 50%;
} */

li span {
    font-style: italic;
    font-weight: bolder;
    color: blue;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8EB8E5;
}


/* media query */

@media (min-width: 481px) {
    #map {
        width: 440px;
        height: 675px;
    }
}


@media (min-width: 769px) {
    #map {
        width: 750px;
        height: 800px;
    }
}



@media (min-width: 1280px) {
    #map {
        width: 1150px;
        height: 800px;
    }
}

@media (max-width: 865px) {
    .displayed{
        display:none;
    }
}





// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }
