/* map page */
#map {
    margin: auto;
    width: 1300px;
    height: 600px;
  }

#map-bg {
    /* lavender */
    background: #C5D1EB;
}

.center {
    text-align: center;
}

.fw,
fh {
    display: table;
}

.fw {
    width: 100%;
    padding: 40px 0;
}

.fh {
    height: 100%;
}

.vert-center {
    display: table-cell;
    vertical-align: middle;
}

.k{
    background-image:url("img/a.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
}

.circle{
    height: 25%;
    width: 10%;
    background-color: rgba(255,255,255,.8);
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50%;
    display: block;
    margin-left:62%;
    margin-top:12%;
  }

/* chat page */
body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

#messages{
    padding-bottom: 30%;
}

/* Give class to li */
/* li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    color: white;
    width: 50%;
} */

li span {
    font-style: italic;
    font-weight: bolder;
    color: #b5b0b9;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b5b9;
}